@charset "utf-8";

/* --------------------------------
 * vars
 * -------------------------------- */
$base-color: #54c2ed;

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
  color: #333;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.site-sub-title {
  margin: 50px 0 60px;
  padding: 50px;
  font-size: 7rem;
  font-family: 'Baloo Bhaijaan', cursive, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}


/* --------------------------------
 * header
 * -------------------------------- */
.header-title {
  display: none;
}
.header-image {
  height: 100vh;
  width: 100vw;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about-text {
}
.about-wrap {
  overflow: hidden;
}
.about-left-child {
  float: left;
  width: 50%;
}
.about-right-child {
  float: right;
  width: 50%;
}

/* --------------------------------
 * functions
 * -------------------------------- */
#functions {
  background-color: $base-color;
}
.functions-text {
  font-size: 2rem;
}
.functions-wrap {
  display: table;
  width: 80%;
  padding: 100px;
  margin: 50px auto 0;
  table-layout: fixed;
}
.functions-box {
  display: table-cell;
}
.functions-image-text {
  font-size: 2rem;
  font-weight: bold;
}

/* --------------------------------
 * photos
 * -------------------------------- */
.photos-text {
  font-size: 2rem;
}


/* --------------------------------
 * footer
 * -------------------------------- */
#footer {
  background-color: $base-color;
  padding: 10px 0;
  margin-top: 30px;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
}
@media (max-width: 768px) {

  /* --- about --- */

  /* --- functions --- */

  /* --- photos --- */

}



