@charset "utf-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}


/* --------------------------------
 * parts
 * -------------------------------- */


/* --------------------------------
 * header
 * -------------------------------- */


/* --------------------------------
 * about
 * -------------------------------- */



/* --------------------------------
 * functions
 * -------------------------------- */

/* --------------------------------
 * photos
 * -------------------------------- */


/* --------------------------------
 * footer
 * -------------------------------- */


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
}
@media (max-width: 768px) {

  /* --- about --- */

  /* --- functions --- */

  /* --- photos --- */

}



