/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

/* --------------------------------
 * parts
 * -------------------------------- */
.site-sub-title {
  margin: 50px 0 40px;
  font-size: 7rem; }

/* --------------------------------
 * header
 * -------------------------------- */
.header-title {
  display: none; }

.header-image {
  height: 100vh;
  width: 100vw; }

/* --------------------------------
 * about
 * -------------------------------- */
.about-wrap {
  overflow: hidden; }

.about-left-child {
  float: left;
  width: 50%; }

.about-right-child {
  float: right;
  width: 50%; }

/* --------------------------------
 * functions
 * -------------------------------- */
.functions-wrap {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed; }

.functions-box {
  display: table-cell; }

/* --------------------------------
 * photos
 * -------------------------------- */
.photos-wrap {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed; }

.photos-box {
  display: table-cell; }

/* --------------------------------
 * footer
 * -------------------------------- */
/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 768px) {
  /* --- about --- */
  /* --- functions --- */
  /* --- photos --- */ }
